<div class="listing-grid-item">
  <div class="listing-grid-item__details">
    <div class="listing-grid-item__details__event-date">
      {{ custom_objects.service_status_events.event_datetime }}
    </div>
    <div class="listing-grid-item__details__title">
      {{ custom_objects.service_status_events.event_title }}
    </div>

    <div class="listing-grid-item__details__description">
      {{ custom_objects.service_status_events.event_description }}
    </div>
    <div class="listing-grid-item__details__updated-date">Updated on {{ updatedAt }}</div>
  </div>
</div>