<div class="listing-grid-item">
  <div class="listing-grid-item__title">{{ custom_objects.service_status_events.event_title }}</div>
  <ul class="listing-grid-item__details">
    <li>Description: {{ custom_objects.service_status_events.event_description }}</li>
    <li>Event Date/Time: {{ custom_objects.service_status_events.event_datetime }} {{ custom_objects.service_status_events.event_hour }}:{{ custom_objects.service_status_events.event_minutes }} {{ custom_objects.service_status_events.event_ampm }}</li>
    <li>Last Updated: {{ updatedAt }}</li>
  </ul>
</div>
