<div class="listing-grid-item">
  <div class="listing-grid-item__details">
    <div class="listing-grid-item__details__event-date">
      {{ custom_objects.service_status_events.event_datetime }}
    </div>
    <div class="listing-grid-item__details__title">
      {{ custom_objects.service_status_events.event_title }}
    </div>

    <div class="listing-grid-item__details__description">
      {{ custom_objects.service_status_events.event_description }}
    </div>
    <div class="listing-grid-item__details__updated-date">Updated on {{ updatedAt }}</div>
  </div>
</div>
<script>
  document.querySelectorAll(".listing-grid-item__details__event-date").forEach(el => {
    const rawDate = el.textContent.trim();

    if (!rawDate) return;

    const formatted = new Date(rawDate).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
      day: "numeric"
    });

    el.textContent = formatted;
  });
</script>